---
import Layout from "../layouts/Layout.astro";
import GameTile from "../components/GameTile.astro";

import minecraftImage from "../../public/images/minecraft.webp";
import robloxImage from "../../public/images/roblox.webp";
import cookingSimImage from "../../public/images/cooking-sim.webp";
import miniMotorwaysImage from "../../public/images/mini-motorways.webp";
import miniMetroImage from "../../public/images/mini-metro.webp";
---

<Layout title="SproutGamer - About Me">
  <main>
    <div class="intro">
      <h1>About Me</h1>
      <p>
        Hi! My name is Benji, also known as SproutGamer. I'm a 10 year old boy
        in primary school. I like coding, Minecraft, engineering, and puzzle
        games. In my free time I code Minecraft mods and plugins in java. I like
        playing around with new stuff to see what I can do with it.
      </p>
    </div>
    <hr />
    <section>
      <h2>Currently Playing:</h2>
      <ul class="auto-grid">
        <GameTile
          image={minecraftImage}
          title="Minecraft"
          button={{
            label: "Visit Minecraft Website",
            href: "https://www.minecraft.net/",
          }}
        />
        <GameTile
          image={robloxImage}
          title="Roblox"
          button={{
            label: "Sign up to Roblox",
            href: "https://www.roblox.com/",
          }}
        />
        <GameTile
          image={cookingSimImage}
          title="Cooking Simulator"
          button={{
            label: "View on Steam",
            href: "https://store.steampowered.com/app/641320/Cooking_Simulator/",
          }}
        />
        <GameTile
          image={miniMotorwaysImage}
          title="Mini Motorways"
          button={{
            label: "View Game Page",
            href: "https://dinopoloclub.com/games/mini-motorways/",
          }}
        />
        <GameTile
          image={miniMetroImage}
          title="Mini Metro"
          button={{
            label: "View Game Page",
            href: "https://dinopoloclub.com/games/mini-metro/",
          }}
        />
      </ul>
    </section>
  </main>
</Layout>
